
/* Applying spacing and margins to whole 
page and boxed elements */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
      color: white
}

/* Styling of the header*/
/*.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background-color: #8d9091;
}*/
/* Controls font of my name */
/*.header h1 
    {display: inline-block;
    font-size: 48px }


/* Layout of items in Nav Bar*/
/*.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*format for listed items in nav bar */
/*.header div ul li { 
    display: inline-block;
    margin-left: 25px;
}

body {
    background-color: rgb(105, 102, 102);
    position: relative; /*added in p-relative
}
*/
/* more traits of nav bar*/
/*
a {
    text-decoration: none;
}
/* Font size for every paragraph 
p {
    font-size: 16px;
}
 Affects bio pic in the header
.photo {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("linkedinpic.jpg");
    background-size: cover;
    background-position: center;
}

/* display for h2 about me and contact 
.float-left {
    float: left;
    margin-right: 25px;}

/* alignment for work paragraph 
.float-right {
    float: right;
    margin-left: 25px;
}
Controls space of p boxes in the main body 
.content {
    width: 85%;
    display: inline-block;
    margin-left: 65px;}

.main-info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #65747c;
}

.main-info img {
    max-height: 200px;
}

.main-info h2 {
    margin-bottom: 20px;
    font-size: 40px;
}


 Footer 
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: absolute; 
}
.footer h2 {
    font-size: 20px;
}

.footer ul li {
    display: inline-block;
    margin-top: 20px;
    text-align:left;
    margin-right: 80px;
}*/